/*Historia y Quienes somos*/
.background-historia {
  background-image: url(../img/dodge-aviones.jpg);
  background-repeat: no-repeat;
  background-position: 30% 30%;
  background-size: cover;
  position: relative;
}

.main-historia {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10vw;
  height: 85%;
}
.historia-y-qs {
  display: flex;
  flex-direction: row;
  background-color: white;
  width: 70%;
  border: 2px solid black;
  border-radius: 20px;
  text-align: center;
  justify-content: center;
  align-items: center;
  box-shadow: 10px 10px 50px black;
  padding: 5px;
  max-width: 40%;
  min-width: 460px;
}

.fotos {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  gap: 50px;
  object-fit: cover;
}
.foto img {
  width: 300px;
  height: 280px;
  box-shadow: 10px 10px 50px black;
  border: 2px solid black;
  object-fit: cover;
}
